body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 10px;
}

.header-contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-izquierda {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 50px; 
    margin-right: 10px; 
}

.header-centro {
    flex-grow: 1; 
}

.header-derecha {
    display: flex;
    align-items: center;
}

#listaProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.tarjeta {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 200px;
}

.tarjeta img {
    max-width: 180px;
    max-height: 180px;
    height: auto;
}

button {
    background-color: #4a53ac;
    color: white;
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

#resumenCarrito {
    border: 1px solid #ddd;
    margin: 10px;
    margin-top: 30px;
    padding: 10px;
    width: 300px;
}

.item-carrito {
    margin: 5px 0;
}
h1 {
    margin-right: 30px; 
}
